<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.travelplanner">
    <uses-permission android:name="android.permission.INTERNET" />

    <!--- TODO: remove clear text line to be safe when server will have correct https -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TravelPlanner"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.TravelPlanner.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.travelDetails.TravelDetailsActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".ui.dayPlan.DayPlanActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".ui.cityWalk.CityWalkActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".ui.poi.PoiActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".ui.hotel.HotelActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".ui.flight.FlightActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".ui.localHighlights.LocalHighlightsActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".ui.tour.TourActivity"
            android:label="@string/app_name">
        </activity>
    </application>

</manifest>